body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    color: #fff;
    animation: changeColor 8s linear infinite;
    overflow: hidden;
    background: linear-gradient(135deg, #3498db, #2ecc71, #e74c3c, #f39c12);
    text-align: center;
}

@keyframes changeColor {
0% {
background: linear-gradient(135deg, #3498db, #2ecc71, #e74c3c, #f39c12);
}
5% {
background: linear-gradient(135deg, #f39c12, #3498db, #2ecc71, #e74c3c);
}
10% {
background: linear-gradient(135deg, #e74c3c, #f39c12, #3498db, #2ecc71);
}
15% {
background: linear-gradient(135deg, #2ecc71, #e74c3c, #f39c12, #3498db);
}
20% {
background: linear-gradient(135deg, #3498db, #2ecc71, #e74c3c, #f39c12);
}
25% {
background: linear-gradient(135deg, #f39c12, #3498db, #2ecc71, #e74c3c);
}
30% {
background: linear-gradient(135deg, #e74c3c, #f39c12, #3498db, #2ecc71);
}
35% {
background: linear-gradient(135deg, #2ecc71, #e74c3c, #f39c12, #3498db);
}
40% {
background: linear-gradient(135deg, #3498db, #2ecc71, #e74c3c, #f39c12);
}
45% {
background: linear-gradient(135deg, #f39c12, #3498db, #2ecc71, #e74c3c);
}
50% {
background: linear-gradient(135deg, #e74c3c, #f39c12, #3498db, #2ecc71);
}
55% {
background: linear-gradient(135deg, #2ecc71, #e74c3c, #f39c12, #3498db);
}
60% {
background: linear-gradient(135deg, #3498db, #2ecc71, #e74c3c, #f39c12);
}
65% {
background: linear-gradient(135deg, #f39c12, #3498db, #2ecc71, #e74c3c);
}
70% {
background: linear-gradient(135deg, #e74c3c, #f39c12, #3498db, #2ecc71);
}
75% {
background: linear-gradient(135deg, #2ecc71, #e74c3c, #f39c12, #3498db);
}
80% {
background: linear-gradient(135deg, #3498db, #2ecc71, #e74c3c, #f39c12);
}
85% {
background: linear-gradient(135deg, #f39c12, #3498db, #2ecc71, #e74c3c);
}
90% {
background: linear-gradient(135deg, #e74c3c, #f39c12, #3498db, #2ecc71);
}
95% {
background: linear-gradient(135deg, #2ecc71, #e74c3c, #f39c12, #3498db);
}
100% {
background: linear-gradient(135deg, #3498db, #2ecc71, #e74c3c, #f39c12);
}
}

table {
    border-collapse: collapse;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-height: 100vh;
    max-width: 98%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
th, td {
    color: #000;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    font-size: 12px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    pointer-events: none;

    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

a:hover {
    color: #e74c3c;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    color: #fff;
    padding: 5px;
    text-align: center;
}

header {
    display: flex;
    height: 55px;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    padding: 5px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: auto; 
    margin-bottom: 10px;
}


h1 {
    padding: 10px;
    border-style: double;
    border-color:darkorchid;;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
h1,h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.table{
    border-collapse: collapse;
width: 80%;
background-color: rgba(255, 255, 255, 0.1);
box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
max-height: 100vh;
overflow-y: auto;
width: fit-content;
display: flex;
margin: 0 auto;
text-align: center;
}
.table div {
    border: 1px solid #ddd;
    padding: 5px;
}

.abz {
    margin: 0;
    text-indent: 3ch;
}

.texttable{
border-collapse: collapse;
background-color: rgba(255, 255, 255, 0.1);
box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
overflow-y: auto;
width: fit-content;
margin: 0 auto;
border: 1px solid #ddd;
padding: 5px;
margin-top: 5px;
}

.minusul{
    list-style: '-';
    text-indent: 3px;
}

.colorblue{
    color:cornflowerblue;
}
.dblue{
    color: darkblue;
}
.urllist{
    font-size: large;
}
.urllist li{
    padding: 5px;
}